<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/docs.css">
    <link rel="icon" href="../assets/img/logo.png" />

</head>
<body>

   

    <div class="docs-lib-nav">

        <div class="comp-lib-nav-wrapper">

            <!-- Nav section start -->
            <header>

                <div class="comp-lib-sub-nav">
                    <a href="/components/index.html"><img src="../assets/img/logo.png" class="comp-lib-logo" /></a>
                    <a href="/components/docs.html"><h4 class="comp-lib-h4-ele_2">Docs</h4></a>
                </div>

            </header>

            

            <!-- Nav section end -->


            <div class="comp-lib-body-main">

                <!-- Sidebar section start -->
                
                <div class="comp-lib-body-ele comp-lib-ele_1">
                    <div class="comp-lib-drawer-sidebar">
                        <nav class="comp-lib-sidebar-content">
                            <a href="#install" class="comp-drawer-content">Installation</a>
                            <a href="#comp-avatar" class="comp-drawer-content">Avatar</a>
                            <a href="#comp-badge" class="comp-drawer-content">Badge</a>
                            <a href="#comp-alert" class="comp-drawer-content">Alert</a>
                            <a href="#comp-button" class="comp-drawer-content">Button</a>
                            <a href="#comp-card" class="comp-drawer-content">Card</a>
                            <a href="#comp-image" class="comp-drawer-content">Image</a>
                            <a href="#comp-input" class="comp-drawer-content">Input</a>
                        </nav>
                    </div>
                </div>

                      
            </div>
            
        </div>


        <!-- Footer section start -->

        <div class="comp-lib-footer">
            <footer class="comp-lib-sub-footer">
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-github"></i>
            </footer>
        </div>

        <!-- Footer section end -->
        
    </div>
        

</body>
</html>