.alert-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}

.alert-icon-style {
  height: 2.5rem;
  width: 2.5rem;
  padding-right: 0.6rem;
}

.imp-note {
  padding-right: 0.5rem;
}

.alert-red {
  background-color: var(--alert-red-bg);
  color: var(--red-shade);
}
.alert-blue {
  background-color: var(--alert-blue-bg);
  color: var(--blue-shade);
}
.alert-green {
  background-color: var(--alert-green-bg);
  color: var(--green-shade);
}
.alert-yellow {
  background-color: var(--alert-orange-bg);
  color: var(--orange-shade);
}
.alert-grey {
  background-color: var(--alert-grey-bg);
  color: var(--black-shade);
}

.wrap-alert {
  height: 5rem;
  width: 55rem;
  border-radius: 1rem;
}

.content-alert {
  padding: 0 0 0 1rem;
}

.bg-color {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.alert-frame {
  height: 50rem;
  width: 50rem;
}

@media screen and (max-width: 575px) {
  .wrap-alert {
    height: 100%;
    width: 100%;
  }
}
