.comp-lib-avatar-color {
  color: var(--primary-color1);
  font-size: 4rem;
}

.comp-lib-avatar-content_b {
  color: var(--primary-color1);
  font-size: 3rem;
}

.comp-lib-avatar-content_a {
  font-size: 1.5rem;
}

.avatar-x_sm,
.avatar-sm,
.avatar-md,
.avatar-lg,
.avatar-x_lg {
  border-radius: 50%;
  height: auto;
}

.avatar-ovl-x_sm,
.avatar-ovl-sm,
.avatar-ovl-md,
.avatar-ovl-lg,
.avatar-ovl-x_lg {
  border-radius: 50%;
  height: auto;
}

.avatar-ovl-x_sm {
  width: 2.5rem;
  height: 1.8rem;
}
.avatar-ovl-sm {
  width: 5rem;
  height: 3rem;
}
.avatar-ovl-md {
  width: 8rem;
  height: 5rem;
}
.avatar-ovl-lg {
  width: 12rem;
  height: 9rem;
}
.avatar-ovl-x_lg {
  width: 15rem;
  height: 12rem;
}

.avatar-x_sm,
.avatar-sqr-x_sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: large;
}
.avatar-sm,
.avatar-sqr-sm {
  width: 5rem;
  height: 5rem;
  font-size: large;
}
.avatar-md,
.avatar-sqr-md {
  width: 8rem;
  height: 8rem;
  font-size: large;
}
.avatar-lg,
.avatar-sqr-lg {
  width: 12rem;
  height: 12rem;
  font-size: large;
}
.avatar-x_lg,
.avatar-sqr-x_lg {
  width: 15rem;
  height: 15rem;
  font-size: large;
}
