.badge-avatar-container {
  display: flex;
  position: relative;
  gap: 2rem;
  flex-wrap: wrap;
}

.badge-image {
  position: relative;
}

.badge-image_a {
  height: 16vh;
  min-width: 9vw;
  border-radius: 50%;
  position: relative;
}

.badge-green {
  height: 2.2vh;
  width: auto;
  border-radius: 50%;
  border: 0.2rem solid var(--white-shade);
  background-color: var(--green-shade);
  position: absolute;
  bottom: 0;
  right: 0;
  top: 70%;
  left: 82%;
}

.badge-red {
  height: 2.2vh;
  width: auto;
  border-radius: 50%;
  border: 0.2rem solid var(--white-shade);
  background-color: var(--red-shade);
  position: absolute;
  bottom: 0;
  right: 0;
  top: 70%;
  left: 82%;
}

.badge-image_b {
  min-width: 4vw;
  height: 8vh;
}

.badge-icon-container {
  display: flex;
}

.badge-image_b {
  position: relative;
}

.badge-icon-container {
  display: flex;
  position: relative;
  gap: 3rem;
  flex-wrap: wrap;
}

.badge-notification_a {
  position: absolute;
  height: 2.5vh;
  width: 1vh;
  border-radius: 50%;
  border: none;
  background-color: var(--red-shade);
  bottom: 75%;
  right: -10%;
}

.badge-notification_b {
  position: absolute;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
  border: none;
  background-color: var(--red-shade);
  padding: 0 0 0.1rem 0;
  color: var(--white-shade);
  font-size: 1rem;
  bottom: 70%;
  right: 0;
}

.badge-notification_c {
  position: absolute;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
  border: none;
  background-color: var(--red-shade);
  padding: 0 0 0.1rem 0;
  color: var(--white-shade);
  font-size: 1rem;
  bottom: 75%;
  right: -15%;
}
