.comp-lib-main-body-wrap{
    width: auto;
    height: calc(100vh - 2.4rem);
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    scroll-behavior: smooth;  
}

.comp-lib-ele_2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comp-lib-ele_2 > div{
    max-width: 80%;
}

.comp-lib-ele_2a {
    width: 100%;
}

.comp-lib-ele_2b {
    width: 100%;
}

.comp-lib-ele_2c {
    width: 100%;
}

.comp-lib-intro-head{
    font-size: 2.5rem;
    color: var( --primary-color);
}

.comp-lib-intro-content{
    font-size: 1.5rem;
}

.copm-lib-span{
    color: var( --primary-color);
}

.comp-lib-span:hover{
    color: var(--primary-color);
}

.comp-lib-install-head{
    font-size: 2rem;
}

.comp-lib-install-content{
    font-size: 1.5rem;
}

.comp-lib-custom-head{
    font-size: 2rem;
}

.comp-lib-custom-content_a{
    font-size: 1.5rem;
}
.comp-lib-custom-content_b{
    font-size: 1.5rem;
    
}

