.Input-textbox {
  height: 5vh;
  width: 15vw;
  border: 0.2rem solid var(--black-shade);
}

.Input-textbox_a {
  height: 5vh;
  width: 15vw;
  border: 2px solid var(--red-shade);
}

.Input-textbox_b {
  height: 5vh;
  width: 15vw;
  border: 0.2rem solid var(--orange-shade);
}

.Input-textbox_c {
  height: 5vh;
  width: 15vw;
  border: 0.2rem solid var(--green-shade);
}

.Input-container-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (max-width: 360px) {
  .Input-textbox,
  .Input-textbox_a,
  .Input-textbox_b,
  .Input-textbox_c {
    width: 100%;
  }
}
