.Input-textbox{
    height: 5vh;
    width: 15vw;
    border: .2rem solid var(--black);
}

.Input-textbox_a{
    height: 5vh;
    width: 15vw;
    border: 2px solid var(--red);
}

.Input-textbox_b{
    height: 5vh;
    width: 15vw;
    border: .2rem solid var(--orange);
}

.Input-textbox_c{
    height: 5vh;
    width: 15vw;
    border: .2rem solid var(--green);
}

.Input-container-body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}