@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap");

html {
  font-size: 62.5%;
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--off-white);
  transition: 0.4s ease-in-out;
}

:root {
  --primary-color: #2b0e64;
  --secondary-color: palevioletred;
  --tertiary-color: #5e17eb;
  --byzantium: #7a306c;
  --grey-shade: #808080;
  --light-grey: #d3d3d3;
  --off-white: #ffffff;
  --code-snip-bg-color: #fafafa;
  --red-shade: #ff0000;
  --green-shade: #228b22;
  --blue-shade: #0000ff;
  --orange-shade: #ffa500;
  --black-shade: #000000;
  --light-black: #080808;
  --shadow-1: rgba(255, 255, 255, 0.1);
  --shadow-2: rgba(50, 50, 93, 0.25);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-4: rgba(0, 0, 0, 0.1);
  --shadow-5: #333;
  --snackbar-1: rgb(0 0 0 / 20%);
  --snackbar-2: rgb(0 0 0 / 14%);
  --snackbar-3: rgb(0 0 0 / 12%);
  --white-shade: #ffffff;
  --light-shade: hsla(0, 0%, 100%, 0.87);
  --status-badge: #d3d3d3;
  --alert-red-bg: #fff0f5;
  --alert-green-bg: #f0f8ff;
  --alert-blue-bg: #f0f8ff;
  --alert-orange-bg: #fffff0;
  --alert-grey-bg: #f5f5f5;
  --orchid-shade: #da70d6;
  --light-orchid: #bb86fc;
  --primary-color1: #2b0e64;
  --secondary-color1: palevioletred;
  --tertiary-color1: #5e17eb;
}

.darkmode {
  --off-white: #28282b;
  --secondary-color: palevioletred;
  --primary-color1: #ffffff;
  --primary-color: #2b0e64;
  --secondary-color1: var(--primary-color);
  --tertiary-color1: var(--primary-color1);
  --light-black: #d3d3d3;
}

.code-snippet-display {
  width: 100%;
  max-height: 30rem;
  padding: 1rem 0;
  margin: 2rem 0;
  overflow: auto;
  background-color: var(--code-snip-bg-color);
}

.code-snippet-display iframe {
  width: 100%;
}

.common-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color1);
}

.common-container > div {
  max-width: 80%;
}

.common-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
