.snackbar {
  display: block;
}

.snackbar-one {
  display: flex;
  margin: 8px;
  align-items: center;
  justify-content: center;
}

.snackbar-two {
  display: flex;
  background-color: #333;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 3px 5px -1px var(--snackbar-1), 0 6px 10px 0 var(--snackbar-2),
    0 1px 18px 0 var(--snackbar-3);
  border-radius: 4px;
}

.snackbar-content-one {
  font-size: 15px;
  font-weight: 400;
  flex-grow: 1;
  padding: 14px 16px;
  color: hsla(0, 0%, 100%, 0.87);
}

.snackbar-content-two {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 8px;
  flex-shrink: 0;
}

.snackbar-btn {
  display: inline-flex;
  height: 36px;
  min-width: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #bb86fc;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  padding: 0 8px;
}

.snackbar-close {
  display: inline-block;
  align-items: flex-start;
  margin-left: 8px;
  margin-right: 0;
  width: 36px;
  height: 36px;
  padding: 6px;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: hsla(0, 0%, 100%, 0.87);
  cursor: pointer;
  text-align: center;
}
