.grey-text {
  color: var(--grey-shade);
}

.small-text {
  color: var(--primary-color);
}

.heading-1 {
  color: var(--primary-color);
}

.heading-2 {
  color: var(--red-shade);
}

.comp-text-center {
  text-align: center;
}
